.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 28.8px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
  /* display: block; */
  height: 64px;
  width: 64px;
}
/* .Weather img {
  margin-right: 10px;
  display: inline-block;
  height: 64px;
  width: 64px;
} */

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 54px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 12px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  position: relative;
  top: -34px;
  margin-left: 5px;
}
