.WeatherInfo {
  text-align: center;
}

.WeatherInfo h1 {
  color: #1db2a8;
  padding-bottom: 10px;
}

.WeatherInfo .Header {
  font-style: italic;
}

.WeatherInfo .mt-3 {
  padding: 0 60px;
  margin: 40px 0;
}
